<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite   parallel="false" preserve-order="true" verbose="10" name="Suite">
  <test thread-count="1" name="Test">
    <classes>
          <class name="webAutomation.Elearning.unitbv.TestSuite.RunnerLoginTest"/>
    
      <class name="webAutomation.Elearning.unitbv.TestSuite.RunnerCalendarEventTest"/>
      <class name="webAutomation.Elearning.unitbv.TestSuite.RunnerPostMessageTest"/>
      <class name="webAutomation.Elearning.unitbv.TestSuite.RunnerGradeTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
